# =================================================================
# Node
# =================================================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =================================================================
# Build
# =================================================================
dist/
.out/
.build/
.tmp/

# =================================================================
# TypeScript
# =================================================================
*.tsbuildinfo

# =================================================================
# Logs
# =================================================================
logs/
*.log
*.log.*
log.txt

# =================================================================
# Environment / Secrets
# =================================================================
.env
.env.*
!.env.example

# =================================================================
# OS / Editor files
# =================================================================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# =================================================================
# Yarn / NPM
# =================================================================
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.pnp.js
.yarn-integrity

# =================================================================
# TypeORM / Prisma
# =================================================================
ormconfig.json
ormconfig.js
ormconfig.ts

# Se usar migrations geradas:
migrations/*.js
migrations/*.d.ts

# =================================================================
# Coverage / Tests
# ========================================
